<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 起别名 -->
    <typeAliases>
        <package name="com.hs.entity"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--            方言-->
            <property name="helperDialect" value="mysql"/>
            <!--            如果pageSize为0，不分页-->
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>


    <mappers>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/CartMapper.xml"/>
        <mapper resource="mapper/CommodityMapper.xml"/>
        <mapper resource="mapper/ConsumerMapper.xml"/>
        <mapper resource="mapper/LocationMapper.xml"/>
        <mapper resource="mapper/LogisticMapper.xml"/>
        <mapper resource="mapper/OrdersMapper.xml"/>
        <mapper resource="mapper/PhotoMapper.xml"/>
        <mapper resource="mapper/SingleMapper.xml"/>
        <mapper resource="mapper/SizeMapper.xml"/>
        <mapper resource="mapper/SortMapper.xml"/>
        <mapper resource="mapper/StarMapper.xml"/>
        <mapper resource="mapper/StatisticMapper.xml"/>
        <mapper resource="mapper/TokenMapper.xml"/>


    </mappers>

</configuration>