<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="Admin">
        <!--@Table admin-->
        <result property="admId" column="adm_id" jdbcType="INTEGER"/>
        <result property="admZh" column="adm_zh" jdbcType="VARCHAR"/>
        <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
        <result property="bySp1" column="by_sp1" jdbcType="VARCHAR"/>
        <result property="bySp2" column="by_sp2" jdbcType="VARCHAR"/>
    </resultMap>



    <!--查询单个  通过id和passwd查询-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          adm_id, adm_zh, passwd, by_sp1, by_sp2
        from admin
        where adm_id = #{admId} and passwd=#{passwd}
    </select>

    <!--    查询所有管理员-->
    <select id="findAllAdmin" resultMap="BaseResultMap">
        select adm_id, adm_zh from admin where adm_id!=111111
    </select>

    <!--    添加管理员-->
    <insert id="addAdmin" parameterType="Admin">
        insert into admin values( #{admId},#{admZh},#{passwd},null,null)
    </insert>

    <!--    删除管理员-->
    <delete id="deleteAdmin">
        delete from admin where adm_id=#{admId}
    </delete>

    <!--    查询老密码-->
    <select id="findOldPasswdByAdmId" resultType="Admin">
        select * from admin where adm_id=#{admId}
    </select>

    <!--    修改密码-->
    <update id="updatePasswd">
        update admin set passwd=#{passwd} where adm_id=#{admId}
    </update>

    <!-- 得到id列最大值 -->
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(adm_id) adm_id from admin
    </select>

    <update id="update" parameterType="Admin">
        update admin set adm_zh=#{admZh} where adm_id=#{admId}
    </update>
</mapper>