<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.LogisticMapper">

    <resultMap id="BaseResultMap" type="com.hs.entity.Logistic">
        <!--@Table logistic-->
        <result property="logId" column="log_id" jdbcType="VARCHAR"/>

        <result property="logStatus" column="log_status" jdbcType="VARCHAR"/>
        <result property="logCreate" column="log_create" jdbcType="TIMESTAMP"/>
        <result property="logEstimate" column="log_estimate" jdbcType="TIMESTAMP"/>
        <result property="bySp1" column="by_sp1" jdbcType="VARCHAR"/>
        <result property="bySp2" column="by_sp2" jdbcType="VARCHAR"/>
        <association property="orders" column="ord_id">
            <id property="ordId" column="ord_id"/>
            <result property="ordStatus" column="ord_status"/>
        </association>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          log_id, o.ord_id, o.ord_status, log_create, log_estimate, l.by_sp1, l.by_sp2
        from logistic l,orders o
        where log_id = #{logId} and l.ord_id=o.ord_id
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          log_id, ord_id, log_status, log_create, log_estimate, by_sp1, by_sp2
        from logistic
        limit #{offset}, #{limit}
    </select>

    <!--查询所有并分页-->
    <select id="queryAll1" resultMap="BaseResultMap">
        select
        log_id, o.ord_id, o.ord_status, log_create, log_estimate,l.by_sp1,l.by_sp2
        from logistic l,orders o
        where l.ord_id=o.ord_id
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
        log_id, o.ord_id, o.ord_status, log_create, log_estimate,l.by_sp1,l.by_sp2
        from logistic l,orders o
        <where>
            <if test="logId != null and logId != ''">
                and log_id = #{logId}
            </if>
            <if test="orders.ordId != null and orders.ordId!=''">
                and o.ord_id = #{orders.ordId}
            </if>
            <if test="orders.ordStatus!=null and orders.ordStatus!='null'">
                and ord_status = #{orders.ordStatus}
            </if>
            <if test="logCreate != null">
                and log_create > #{logCreate}
            </if>
            <if test="logEstimate != null">
            <![CDATA[and log_create <= #{logEstimate}]]>
            </if>
            <if test="bySp1 != null and bySp1 != ''">
                and l.by_sp1 = #{bySp1}
            </if>
            <if test="bySp2 != null and bySp2 != ''">
                and l.by_sp2 = #{bySp2}
            </if>
                and l.ord_id=o.ord_id
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="logId" useGeneratedKeys="true">
        insert into logistic(ord_id, log_status, log_create, log_estimate, by_sp1, by_sp2)
        values (#{ordId}, #{logStatus}, #{logCreate}, #{logEstimate}, #{bySp1}, #{bySp2})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update logistic l,orders o
        <set>
            <if test="orders.ordId!= null">
                o.ord_id = #{ordId},
            </if>
            <if test="orders.ordStatus!=null and orders.ordStatus!='null'">
                ord_status = #{orders.ordStatus},log_status= #{orders.ordStatus},
            </if>
            <if test="logCreate != null">
                log_create = #{logCreate},
            </if>
            <if test="logEstimate != null">
                log_estimate = #{logEstimate},
            </if>
            <if test="bySp1 != null and bySp1 != ''">
                by_sp1 = #{bySp1},
            </if>
            <if test="bySp2 != null and bySp2 != ''">
                by_sp2 = #{bySp2},
            </if>
        </set>
        where l.ord_id=o.ord_id and log_id = #{logId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from logistic where log_id = #{logId}
    </delete>

</mapper>