<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.hs.entity.Orders">
        <!--@Table orders-->
        <result property="ordId" column="ord_id" jdbcType="INTEGER"/>
<!--        <result property="conId" column="con_id" jdbcType="INTEGER"/>-->
<!--        <result property="locId" column="loc_id" jdbcType="INTEGER"/>-->
        <result property="ordTotalPrice" column="ord_total_price" jdbcType="OTHER"/>
        <result property="ordStatus" column="ord_status" jdbcType="VARCHAR"/>
        <result property="ordRemark" column="ord_remark" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="bySp1" column="by_sp1" jdbcType="VARCHAR"/>
        <result property="bySp2" column="by_sp2" jdbcType="VARCHAR"/>
        <association property="consumer" column="con_id" javaType="com.hs.entity.Consumer">
        <id property="conId" column="con_id"/>
        <result property="conName" column="con_name"/>
        </association>
        <association property="location" column="loc_id">
            <id property="locId" column="loc_id"/>
            <result property="locAddress" column="loc_address"/>
        </association>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
        o.ord_id, con_name, loc_address, o.ord_total_price, o.ord_status, o.ord_remark, o.gmt_create, o.gmt_modified, o.by_sp1, o.by_sp2
        from orders o,consumer c,location l
        where ord_id = #{ordId} and o.con_id=c.con_id and o.loc_id=l.loc_id
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          ord_id, con_id, loc_id, ord_total_price, ord_status, ord_remark, gmt_create, gmt_modified, by_sp1, by_sp2
        from orders
        limit #{offset}, #{limit}
    </select>


    <select id="queryNum" resultType="java.lang.Long">
        select count(*)
        from orders
    </select>


    <!--分页查询全部-->
    <select id="queryAll1" resultMap="BaseResultMap">
        select
        o.ord_id, c.con_name, l.loc_address, o.ord_total_price, o.ord_status, o.ord_remark, o.gmt_create, o.gmt_modified, o.by_sp1, o.by_sp2
        from orders o,consumer c,location l
        <where>
            <if test="ordId != null">
                and o.ord_id = #{ordId}
            </if>
            <if test="consumer!= null and consumer!=''">
                and con_name = #{consumer.conName}
            </if>
            <if test="location!= null and location!=''">
                and loc_address = #{location.locAddress}
            </if>
            <if test="ordTotalPrice != null">
                and o.ord_total_price = #{ordTotalPrice}
            </if>
            <if test="ordStatus != null and ordStatus !='null'" >
                and o.ord_status = #{ordStatus}
            </if>
            <if test="ordRemark != null and ordRemark !='null'">
                and o.ord_remark = #{ordRemark}
            </if>
            <if test="gmtCreate != null">
                and o.gmt_create >= #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                <![CDATA[and o.gmt_create <= #{gmtModified}]]>
            </if>
            <if test="bySp1 != null and bySp1 != ''">
                and o.by_sp1 = #{bySp1}
            </if>
            <if test="bySp2 != null and bySp2 != ''">
                and o.by_sp2 = #{bySp2}
            </if>
            and o.con_id=c.con_id and o.loc_id=l.loc_id
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
        o.ord_id, c.con_name, l.loc_address, o.ord_total_price, o.ord_status, o.ord_remark, o.gmt_create, o.gmt_modified, o.by_sp1, o.by_sp2
        from orders o,consumer c,location l
        <where>
            <if test="ordId != null">
                and o.ord_id = #{ordId}
            </if>
            <if test="consumer.conName != null and consumer.conName !=''">
                and con_name = #{consumer.conName}
            </if>
            <if test="location.locAddress != null and location.locAddress!=''">
                and loc_address = #{location.locAddress}
            </if>
            <if test="ordTotalPrice != null">
                and o.ord_total_price = #{ordTotalPrice}
            </if>
            <if test="ordStatus != null and ordStatus !='null'" >
                and o.ord_status = #{ordStatus}
            </if>
            <if test="ordRemark != null and ordRemark !='null'">
                and o.ord_remark = #{ordRemark}
            </if>
            <if test="gmtCreate != null">
                and o.gmt_create >= #{gmtCreate}
            </if>
            <if test="gmtModified != null">
            <![CDATA[and o.gmt_create <= #{gmtModified}]]>
            </if>
            <if test="bySp1 != null and bySp1 != ''">
                and o.by_sp1 = #{bySp1}
            </if>
            <if test="bySp2 != null and bySp2 != ''">
                and o.by_sp2 = #{bySp2}
            </if>
            and o.con_id=c.con_id and o.loc_id=l.loc_id
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="ordId" useGeneratedKeys="true">
        insert into orders(ord_id,con_id, loc_id, ord_total_price, ord_status, ord_remark, gmt_create, gmt_modified, by_sp1, by_sp2)
        values (#{ordId},#{conId}, #{locId}, #{ordTotalPrice}, #{ordStatus}, #{ordRemark}, #{gmtCreate}, #{gmtModified}, #{bySp1}, #{bySp2})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="com.hs.entity.Orders">
        update orders o,consumer c,location l
        <set>
            <if test="consumer.conName != null">
                con_name = #{consumer.conName},
            </if>
            <if test="location.locAddress != null">
                loc_address = #{location.locAddress},
            </if>
            <if test="ordTotalPrice != null">
                o.ord_total_price = #{ordTotalPrice},
            </if>
            <if test="ordStatus != null and ordStatus !='null'" >
                o.ord_status = #{ordStatus},
            </if>
            <if test="ordRemark != null and ordRemark !='null'">
                o.ord_remark = #{ordRemark},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="bySp1 != null and bySp1 != ''">
                by_sp1 = #{bySp1},
            </if>
            <if test="bySp2 != null and bySp2 != ''">
                by_sp2 = #{bySp2},
            </if>
        </set>
        where ord_id = #{ordId} and o.con_id=c.con_id and o.loc_id=l.loc_id
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from orders where ord_id = #{ordId}
    </delete>

</mapper>