<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.SortMapper">

    <resultMap id="BaseResultMap" type="SortVO">
        <!--@Table sort-->
        <result property="sorId" column="sor_id" jdbcType="INTEGER"/>
        <result property="sorName" column="sor_name" jdbcType="VARCHAR"/>
        <association property="size" column="siz_id" javaType="Size">
            <id property="sizId" column="siz_id"/>
            <result property="sizName" column="siz_name"/>
        </association>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          sor_id, sor_name, sort.siz_id,siz_name
        from sort,size
        where sor_id = #{sorId} and sort.siz_id=size.siz_id
    </select>

    <!--查询单个-->
    <select id="queryBySizId" resultMap="BaseResultMap">
        select
          sor_id, sor_name, sort.siz_id,siz_name
        from sort,size
        where sort.siz_id=#{sizId} and sort.siz_id=size.siz_id
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          sor_id, sor_name, sort.siz_id,siz_name
        from sort,size
        where  sort.siz_id=size.siz_id
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="sorId" useGeneratedKeys="true">
        insert into sort(sor_name, siz_id)
        values (#{sorName}, #{sizId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sort
        <set>
            <if test="sorName != null and sorName != ''">
                sor_name = #{sorName},
            </if>
            <if test="sizId != null">
                siz_id = #{sizId},
            </if>
        </set>
        where sor_id = #{sorId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sort where sor_id = #{sorId}
    </delete>

    <select id="queryNum" resultType="java.lang.Long">
        select count(*)
        from sort

    </select>

</mapper>